<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <title>Document Temaplte</title>

    <style>
      html,
      body {
        padding: 0;
        margin: 0;
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        height: 100%;
      }
      .Container {
        background-color: #ffffff;
        margin: 0 auto;
        border: 1px solid #e0e0e0;
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
      }
      .HeaderContainer {
        height: 220px;
        padding: 15px 32px;
        background-color: rgba(251, 191, 36, 1) !important;
      }
      .EditingBtn {
        width: 131px;
        height: 24px;
        background-color: #4f4f4f;
        padding: 2px 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        box-sizing: border-box;
        border-radius: 8px;
        cursor: pointer;
      }
      .HiveLabel {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #4f4f4f;
        margin-top: 15px;
      }
      .DailyLabel {
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 33px;
        color: #4f4f4f;
        margin-top: 30px;
      }
      table {
        width: 100%;
        margin-top: 20px;
        table-layout: auto !important;
        border-collapse: collapse;
      }
      .MainContainer {
        padding-top: 40px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 30px;
      }
      .TableItem {
        background-color: #e2b93b;
        opacity: 0.7;
        padding: 5.5px 6px;
        text-align: left !important;
        margin-right: 0.5rem !important;
      }
      .customth {
        text-align: left !important;
      }
      .customitem {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
      }
      .TaskHeader {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 20px;
        color: #4f4f4f;
      }
      .ListContainer {
        padding-top: 1.25rem !important;
        padding-bottom: 1.25rem !important;
      }
      .ULList {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 55px;
        padding-right: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        opacity: 0.7;
        margin-top: 13px;
        background-color: #e2b93b;
        list-style-type: disc;
      }
      .ListItems {
        padding: 10px 0px;
      }
      .Completed {
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
    <div class="Container">
      <div class="HeaderContainer" dir="rtl">
        <div class="EditingBtn">Currently editting</div>
        <div class="HiveLabel">THE HIVE</div>
        <div class="DailyLabel">{{HeaderTitle: TEXT}}</div>
      </div>
      <div class="MainContainer">
        <table class="table">
          <thead>
            <tr>
              <th class="customth">Employee Name:</th>
              <th class="customth">Department:</th>
              <th class="customth">Week:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="TableItem">{{employeeName: TEXT}}</div>
              </td>
              <td>
                <div class="TableItem">{{meeting: TEXT}}</div>
              </td>
              <td>
                <div class="TableItem">{{week: DATE}}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="ListContainer">
          <div class="TaskHeader Completed">Completed Tasks</div>
          <ul class="ULList">
            <li class="ListItems">{{listItem:TEXT}}</li>
          </ul>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="customth">Apprived by:</th>
              <th class="customth">Date:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="TableItem customitem">{{apprivedBy:TEXT}}</div>
              </td>
              <td>
                <div class="TableItem customitem">{{date:DATE}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
